{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 1 version",
          "node": "current"
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    ["add-module-exports"],
    ["transform-object-rest-spread"]
  ]
}