.example {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.example_theme_dark {
  background-color: #333;
  color: #f5f5f5;
}
.example__main {
  flex: 1 1 auto;
}
.example__main_hidden {
  display: none;
}